
/* Your CSS Code here. */
.z
{
	border: 1px solid black;
}
.a
{
	border: 15px solid blue;
	width: 400px;
	height: 150px;
	background-color: lightblue;
	padding: 20px;
}
.a .b
{
	border: 1px solid black;
	width: 300px;
	padding: 50px 50px 50px 50px;
}